{% extends "tasks/base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block page_title %}
{% if object.name %}
{{ object.name }}
{% else %}
{{ object.username }}
{% endif %}
{% endblock %}

{% block inner %}
<div class="mt-8">



  <div class="flex">

    <a class="rounded rounded-sm bg-blue-500 text-white p-2 " href="{% url 'tasks:create' %}" role="button">Create Task</a>
    {% if object == request.user %}
    <a class="rounded rounded-sm bg-blue-500 text-white p-2 ml-3" href="{% url 'users:update' %}" role="button">Edit User</a>
    {% endif %}
</div>

  <hr class="bg-gray mt-5 mb-8" />

  <ol class="">
    {% for task in object.task_responsible.all %}
      {% include "tasks/components/task_list_item.html" with task=task %}
    {% endfor %}
  </ol>

</div>
{% endblock inner %}
