{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>



{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <a class="btn btn-primary" href="{% url 'tasks:create' %}" role="button">Create task</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


  <ol class="list-group mt-3">
    {% for task in object.task_set.all %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="{% url 'tasks:detail' task.id %}">{{ task.name }}</a></div>
        {{ task.description }}
      </div>
      <div>
        <a class="btn btn-primary" href="{% url 'tasks:update' task.id %}" role="button">Edit</a>
        <a class="btn btn-primary" href="{% url 'tasks:delete' task.id %}" role="button">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ol>

</div>
{% endblock content %}
