{% extends "base.html" %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="container mb-3">

  <div class="row">
    <div class="col-sm-12">

      <h2>Task List</h2>

      <a class="btn btn-primary my-3" href="{% url 'tasks:create' %}" role="button">Create</a>

      <form action="" method="get" class="my-3">
        {{ filter.form }}
        <input type="submit" class="btn btn-primary" />
      </form>


      <ol class="list-group ">
        {% for task in object_list %}
        {% if task.task_stage != "CO" %}

        {% if not task.is_private %}
        <!-- include task row  -->
        {% include "tasks/components/task_list_item.html" with task=task %}
        {% else %}
        {% if user.is_authenticated %}
        {% if task.responsible == user or task.created_by == user %}
        <!-- include task row  -->
        {% include "tasks/components/task_list_item.html" with task=task hidden=True %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </ol>

      <!-- completed tasks -->
      <h2 class="my-5">Completed</h2>

      <ol class="list-group ">
        {% for task in object_list %}
        {% if task.task_stage == "CO" %}
        {% if not task.is_private %}
        <!-- include task row  -->
        {% include "tasks/components/task_list_item.html" with task=task %}
        {% else %}
        {% if user.is_authenticated %}
        {% if task.responsible == user or task.created_by == user %}
        <!-- include task row  -->
        {% include "tasks/components/task_list_item.html" with task=task hidden=True %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </ol>




    </div>
  </div>



</div>
{% endblock content %}