{% extends "tasks/base.html" %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block page_title %}
Task List
{% endblock %}

{% block inner %}

<!-- <a class="btn btn-primary my-3" href="{% url 'tasks:create' %}" role="button">Create</a>

      <form action="" method="get" class="my-3">
        {{ filter.form }}
        <input type="submit" class="btn btn-primary" />
      </form> -->


<div class="mt-8">

  <div class="my-8">
    <a class="rounded rounded-sm bg-blue-500 text-white p-2" href="{% url 'tasks:create' %}">Create Task</a>
  </div>



  {% for task in object_list %}
  {% if task.task_stage != "CO" %}

  {% if not task.is_private %}
  <!-- include task row  -->
  {% include "tasks/components/task_list_item.html" with task=task %}
  {% else %}
  {% if user.is_authenticated %}
  {% if task.responsible == user or task.created_by == user %}
  <!-- include task row  -->
  {% include "tasks/components/task_list_item.html" with task=task hidden=True %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}


  

  <div class="flex mt-10 mb-8">
    <div class="rounded text-default rounded-md bg-green px-2">
        <p>Completed</p>
    </div>
</div>

  {% for task in object_list %}
  {% if task.task_stage == "CO" %}
  {% if not task.is_private %}
  <!-- include task row  -->
  {% include "tasks/components/task_list_item.html" with task=task %}
  {% else %}
  {% if user.is_authenticated %}
  {% if task.responsible == user or task.created_by == user %}
  <!-- include task row  -->
  {% include "tasks/components/task_list_item.html" with task=task hidden=True %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}


</div>

{% endblock %}