{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Task List{% endblock %}

{% block page_title %}
Create Task
{% endblock %}

{% block inner %}


      <form class="form-horizontal mt-8 mb-10" method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
    <button class="rounded rounded-md bg-blue-500 text-white p-2 mt-8" type="submit" role="button">Create</button>
  </div>
        </div>
      </form>
 

{% endblock inner %}
