{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Update{% endblock %}

{% block page_title %}
Create Update
{% endblock %}

{% block inner %}

<div class="container mb-3">



  <form class="mt-8" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="rounded rounded-sm bg-blue-500 text-white p-2 mt-8 mb-10" role="button">Add Update</button>
      </div>
    </div>
  </form>


</div>
{% endblock inner %}