{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  Sign In
</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>
    {% translate "Please sign in with one of your existing third party accounts:" %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
        Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:
      {% endblocktranslate %}
    {% endif %}
  </p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% translate "or" %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p>
      {% blocktranslate trimmed %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
    Forgot password? <a href="{% url 'account_reset_password' %}" class="font-medium text-blue-600 hover:underline dark:text-blue-500">click here</a>
</p>
  <button type="submit" class="w-full my-3 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign In</button>
  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      Dont have an account? <a href="{% url 'account_signup' %}" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Sign up</a>
  </p>
</form>

{% endblock %}
