<div>
    <a href="{% url 'tasks:detail' task.id %}" class="">
        <p class="text-2xl text-default">{{task.id}}: {{ task.name }}</p>
    </a>
    <div class="flex mt-1">
        <!-- <p class="text-default bg-red  px-2 rounded rounded-md">{{ priority }}</p> -->

        {% if task.task_stage != "CO" %}
            {% if task.deadline %}
                {% if task.is_late %}
                <p class="ml-4 text-red">{{ task.deadline }}</p>

                {% else %}
                <p class="ml-4 text-gray">{{ task.deadline }}</p>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if task.responsible %}
            <p class="ml-4 text-gray">{{task.responsible}}</p>
        {% endif %}
        <p class="ml-4 text-gray">{{task.get_task_stage_display}}</p>

        {% if hidden %}
            <p class="ml-4 text-gray">&#128065;</p>
        {% endif %}


        {% if task.update_set.count > 0 %}
            <p class="ml-4 text-gray">💬</p>
        {% endif %}

    </div>



    <hr class="bg-gray my-4" />
</div>